<p>Fatec Ipiranga - Cursos disponiveis:</p>
<table class="table table-striped table-hover table-dark">
    <thead>
          <tr>
            <th>Curso</th>
            <th>Periodo</th>
          </tr>
    </thead>
    <tbody>
      <tr>
        <td>ADS</td>
        <td>Vespertino</td>
      </tr>
      <tr>
        <td>ADS</td>
        <td>Noturno</td>
      </tr>
      <tr>
        <td>Eventos</td>
        <td>Matutino</td>
      </tr>
      <tr>
        <td>Gestão Comercial</td>
        <td>Matutino</td>
      </tr>
      <tr>
        <td>Gestão Comercial</td>
        <td>Noturno</td>
      </tr>
      <tr>
        <td>RH</td>
        <td>Noturno</td>
      </tr>
    </tbody>
</table>
