<div class="container">
  <div [hidden]="exibirAluno">
    <div class="container">
      <div class="row">
            <app-fatec-info></app-fatec-info>
      </div><p>Fatec Ipiranga - Cursos disponiveis:</p>
      <div class="row">

        <div class="col-4" *ngFor="let item of cursos">
          <app-fatec-cursos [curso]="item"></app-fatec-cursos></div>
        </div>
        <div class="row">
          <div class="col-8">
            <app-fatec-cadastro-curso  (cursoAdicionado)="onAdicionarCurso($event)"></app-fatec-cadastro-curso>
          </div>
         <div class="col-4">
          <button class="btn btn-info" (click)="exibirPagina()" >Cadastrar Aluno</button>
         </div>
        </div>
  </div>
  </div>
  <div [hidden]="!exibirAluno">
    <app-cadastro-aluno [curso]="cursos" ></app-cadastro-aluno>
    <div class="row">
      <div class="col-4">
        <label for="exbirCursos">Voltar para Cursos</label>
        <button class="btn btn-secondary form-control" (click)="exibirPagina()">Voltar para cursos </button>
      </div>
    </div>
  </div>
</div>



